* {
    margin: 0;
    padding: 0;
}

/* HEADER */

header div div img {
    width: 60px;
    height: 60px;
}

li {
    list-style-type: none;
}

/* MAIN */

main section {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-size: 2rem;
}

main section h2 {
    text-align: center;
    padding: 10px;
}

main section form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-size: 1rem;
}

main section form div {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 5px 0px 15px 0px;
}

.form-widget {
    max-width: 320px;
}

.form-footer {
    max-width: 320px;
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.form-button {
    width: 100px;
    border-radius: 8px;
    background-color: #04AA6D;
}

.form-button:hover {
    background-color: rgba(4, 170, 109, .5);
}

/* FOOTER */

footer div div a img {
    width: 40px;
    height: 40px;
}

/* MEDIA QUERIES */

@media screen and (min-width: 768px) {
    main div {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: 
            "article1 article2"
            "article3 article4"
            "article5 article6"
        ;
    }
    
    article div {
        flex-direction: row;
        justify-content: start;
    }
    
}

@media screen and (min-width: 992px) {
    footer {
        position: fixed;
        bottom: 0;
    }
}
