* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
}

/* HEADER */

header div div img {
    height: 60px;
}

li {
    list-style-type: none;
}

/* FOOTER */

footer div div a img {
    width: 40px;
    height: 40px;
}

@media screen and (min-width: 992px) {
    header {
        height: 10vh;
    }

    footer {
        height: 10vh;
    }

}

/* MAIN */

main {
    height: 80vh;
}

#section1 {
    height: 40%;
}

#section1 img {
    width: 100%;
    height: 100%;
}

#section2 {
    height: 60%;
}

#section2 h2 {
    height: 10%;
    text-align: center;
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
}

#section2 div {
    height: 90%;
    font-size: 0;
}

#section2 div article {
    display: inline-block;
    width: 32%;
    height: 100%;
    padding: 0 0.5% 0 0.5%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
}

#section2 div article img {
    height: 20%;
}

#section2 div article h3 {
    font-weight: bold;
    height: 10%;
}

#section2 div article p {
    overflow: hidden;
    height: 58%;
}

#section2 div article a {
    display: block;
    text-align: right;
    height: 10%;
}
