* {
    margin: 0;
    padding: 0;
}

/* HEADER */

header div div img {
    width: 60px;
    height: 60px;
}

li {
    list-style-type: none;
}

/* MAIN */

#section2 div article div div img {
    width: 100px;
    height: 50px;
}

/* FOOTER */

footer div div a img {
    width: 40px;
    height: 40px;
}

@media screen and (min-width: 992px) {
    /* MAIN */

    #section1 {
        height: 40%;
    }

    #section1 img {
        height: 85%;
        max-height: 300px
    }

    #section1 h2 {
        height: 15%;
    }

    #section2 {
        height: 60%;
    }
}

@media screen and (min-width: 1200px) {
    /* BODY */
    
    /* body {
        height: 100vh;
    } */

    /* HEADER */

    /* header {
        height: 10vh;
    }
 */
    /* MAIN */

    /* main {
        height: 80vh;
    }
 */
    /* FOOTER */

    /* footer {
        height: 10vh;
    }
 */
}
