$breakpoints: lg, xl, xxl;

footer {
    background-color: $Teal-Dark-1-hex;
    color: $Teal-Dark-3-hex;
    div {
        div {
            a {
                img {
                    width: 40px;
                    height: 40px;                    
                    transition: all 0.3s ease;
                    &:hover {
                        transform: scale(1.1);
                    }
                }
            }
            span {
                transition: all 0.3s ease;
                &:hover {
                    transform: scale(1.1);
                }
            }
        }
    }
}

@each $breakpoint in $breakpoints {
    .fixed-footer-#{$breakpoint} {
        @include media-breakpoint-up($breakpoint){
            position: fixed;
            bottom: 0;
        }
    }
}

@media (min-width:2500px){
    .fixed-footer-xxxl {
        position: fixed;
        bottom: 0;
    }
}
