$breakpoints: lg, xl, xxl;

@each $breakpoint in $breakpoints {
    .fixed-footer-#{$breakpoint} {
        @include media-breakpoint-up($breakpoint){
            position: sticky;
            bottom: 0;
        }
    }
}

@media (min-width:2500px){
    .fixed-footer-xxxl {
        position: sticky;
        bottom: 0;
    }
}

footer {
    div {
        div {
            a {
                img {
                    width: 40px;
                    height: 40px;                    
                    transition: all 0.3s ease;
                    &:hover {
                        transform: scale(1.1);
                    }
                }
            }
        }
    }
}
