/* Color Theme Swatches in Hex */
$Teal-Dark-1-hex: #2C3532;
$Teal-Dark-2-hex: #0F6466;
$Teal-Dark-3-hex: #D8B08C;
$Teal-Dark-4-hex: #FFCB9A;
$Teal-Dark-5-hex: #D2E8E3;

/* Separador del breadcrumb */
$breadcrumb-divider: quote(">");
