/* Color Theme Swatches in Hex */
$Teals-1-hex: #0FC2C0;
$Teals-2-hex: #0CABA8;
$Teals-3-hex: #008F8C;
$Teals-4-hex: #015958;
$Teals-5-hex: #023535;

/* Color Theme Swatches in RGBA */
$Teals-1-rgba: rgba(15,194,192, 1);
$Teals-2-rgba: rgba(12,171,168, 1);
$Teals-3-rgba: rgba(0,143,140, 1);
$Teals-4-rgba: rgba(1,89,88, 1);
$Teals-5-rgba: rgba(2,53,53, 1);

/* Color Theme Swatches in HSLA */
$Teals-1-hsla: hsla(179, 85, 40, 1);
$Teals-2-hsla: hsla(178, 86, 35, 1);
$Teals-3-hsla: hsla(178, 100, 28, 1);
$Teals-4-hsla: hsla(179, 97, 17, 1);
$Teals-5-hsla: hsla(180, 92, 10, 1);

/* Color Theme Swatches in Hex */
$Teal-Dark-1-hex: #2C3532;
$Teal-Dark-2-hex: #0F6466;
$Teal-Dark-3-hex: #D8B08C;
$Teal-Dark-4-hex: #FFCB9A;
$Teal-Dark-5-hex: #D2E8E3;

/* Color Theme Swatches in RGBA */
$Teal-Dark-1-rgba: rgba(43,52,49, 1);
$Teal-Dark-2-rgba: rgba(14,100,102, 1);
$Teal-Dark-3-rgba: rgba(216,175,140, 1);
$Teal-Dark-4-rgba: rgba(255,202,154, 1);
$Teal-Dark-5-rgba: rgba(209,232,226, 1);

/* Color Theme Swatches in HSLA */
$Teal-Dark-1-hsla: hsla(159, 9, 19, 1);
$Teal-Dark-2-hsla: hsla(181, 74, 22, 1);
$Teal-Dark-3-hsla: hsla(28, 49, 69, 1);
$Teal-Dark-4-hsla: hsla(29, 100, 80, 1);
$Teal-Dark-5-hsla: hsla(166, 32, 86, 1);

/* Separador del breadcrumb */
$breadcrumb-divider: quote(">");
